@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
a{
  text-decoration: none;
}
li{
	list-style: none;
}
.neirong{
	width: 78%;
	height: 2000px;
	float: left;
	background-color: #009999;
}
.guanggao{
	width: 20%;
	height: 2000px;
	float: right;
	background-color: #34A0CE;
}
